.calendar {
  flex: 1 1 50%;
}
.calendar_nav {
  display: flex;
  justify-content: space-between;
  height: 20px;
  padding: 10px 0;
  background-color: #f1f1f1;
}
.btn {
  border: none;
  padding: 0 10px;
  background-color: transparent;
}
.title {
  font-weight: 600;
}
.calendar_content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.month_days {
  padding: 8px 0px;
  border: 1px solid silver;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(47, 47, 48);
  font-weight: 400;
}
.prev_next_days {
  color: rgba(47, 47, 48, 0.3);
}
