.wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex: 0 1 50%;
}
.img {
  max-height: 200px;
  width: 70%;
}
.text {
  margin-top: 20px;
  text-align: center;
  font-size: 0.9rem;
}
