.wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
  margin: 0 auto;
  max-width: 1200px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex: 0 1 auto;
  height: 100vh;
  background-color: white;
}
.img {
  max-height: 200px;
  width: 70%;
}
.text {
  margin-top: 20px;
  text-align: center;
  font-size: 0.9rem;
}

@media screen and (min-width: 578px) {
  .img {
    max-height: 400px;
    max-width: 50%;
  }
}
